body{
    font-family: 'Raleway', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box; 
  
}
.navbar{
    overflow: hidden;
}
.navbar-toggler{
 margin-right: 2rem;

}

 .nav-link{
    color: black;
} 
.nav-link:hover{
    text-decoration-line: overline underline;
    color: #f0ad8e;
    font-weight: 700;
}
.main-container{
    overflow: hidden;
}

.carousel{
    margin-left: 7rem;
}
.container-servicio{
    margin-top: 5rem;
}
.carousel-caption{
    left: 560px;
    margin-bottom: 6rem;

}
.carousel-title{
    font-size: 52px;
    line-height: normal;
}

/* botón de reservar cita */
.btn-reservar{
    background-color: black;
    color: white;
    font-size: 16px;
}
.btn-reservar:hover{
    background-color: transparent;
    color: black;
}


/* botón de ver mas servicio */
.btn-servicio {
    width: 180px;
    border: 2px solid transparent;
    transition: all 0.3s ease; 
  }
  
  .btn-servicio:hover {
    border: 2px solid #fff; 
    background-color: black; 
    color: #fff;
  }
  

.principal-contenedor{
    margin-top: 2rem;
    display: flex;
    flex-direction: column;
}

em strong{
    font-weight: 600;
	color:rgb(191, 160, 119);
}


ul{ 
    font-size: 20px;
	display: inline-block;
	vertical-align: top;
	width: 20;
	margin-right: 8%;
    line-height: 2rem;
    margin-top: 2rem;
}
.imagen-diferenciales{
    padding: 20px 20px 20px 20px;
    box-shadow: 1px 1px 0px 0px #836d1a;
    width: 500px;
    height: 290px;
    animation: slide 5s linear 1 forwards;
}

.items:first-child {
    font-weight: bold;
}
.items:before {
    content: "✶";
    color: #836d1a;
}
  
  
/*Footer*/

 .footer-container{
background-color: #2e2e2e;
overflow: hidden; 
 }

 .form-input {
    color: #fff;
    border: 1px solid #c9c9c9;
    width: 520px;
    height: 38px;
    padding: 8px 15px;
    margin-bottom: 23px;
    border-radius: 4px;
    background-color: transparent;
    transition: border 0.5s ease;

}
.input-container--invalid {
    margin-bottom: 0.5rem;
}

.input-container--invalid .form-input {
    border: 1px solid red;
    border-radius: 4px;
}

.input-container--invalid  {
    color: rgb(210, 28, 28);
}

.input-container--invalid .input-message-error {
    color: rgb(231, 29, 29);
    display: block;
    margin-top: -1rem;
    margin-bottom: 1rem;

}

.input-message-error {
    display: none;
}

.form-input:focus {
    border: 1px solid #dfb59a;
    outline: none; 
}

::placeholder{
    color: #c9c9c9;
}
.form-input:focus::placeholder {
    transform: translateX(-100%);
    transition: all .3s ease-in-out .2s;
}

.select-option{
    background-color: #2e2e2e;
    border-color: #c9c9c9;
    color: #fff;
    cursor: pointer;
}

.text-mensaje{
color: #fff;
width: 520px;
height: 170px;
resize: none;
padding: 8px 15px;
border: 1px solid #c9c9c9;
background-color: transparent;
border-radius: 4px;
}
.text-mensaje:focus{
    border: 1px solid #dfb59a;
    outline: none; 
}
.text-mensaje:focus::placeholder{
    transform: translateX(-100%);
    transition: all .3s ease-in-out .2s; 
}
.boton-enviar{
    width: 150px;
    height: 46px;
    border-radius: 4px;
    padding: 12px 17px;
    background-color: #2e2e2e;
    border-color: #c9c9c9;
}

.boton-enviar:hover{
    background-color: rgba(255,255,255,0.05);
}
.footer-border{
    margin-top: 3rem;
    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-bottom-color:   #f3d78a;

}
.footer-title{
    color: #b3b3b3;
}
.copy{
    background-color: #f3d78a;
    padding: 1rem;
}
  

/* estilos de la Pagina de servicios */
.servicio-title{
    font-size: 50px;
    
}
.servicio-container{
    line-height: 3rem;
    margin-left: 2rem;
    background-color: #faf2dd;
    color: black;
}

.servicio-btn{
    width: 150px;
    height: 54px;
    color: #2e2e2e;
}

.servicio-btn:hover{
    background-color:#f0ad8e;
    color: black;
}


/* tablet */

@media only screen and (max-width: 768px){
       
.carousel{
    margin-left: 0;
}
.carousel-img{
    width: 100%;
}

.carousel-title {
    font-size: 22px;
}

.carousel-caption {
    margin-bottom: 3rem;
    display: block !important;
    left: 300px;
}

.form-input {
   
    width: 320px;
    height: 28px;
    padding: 5px 10px;
    margin-bottom: 20px;
    border-radius: 2px;

}

.text-mensaje{
   
    width: 320px;
    height: 150px;
    padding: 5px 10px;
    border-radius: 2px;
    }
    .btn-reservar{
        font-size: 14px;
        
    }
}

/* Mobie */
@media only screen and (max-width: 500px){
    
.carousel-caption {
    margin-bottom: 1rem;
    display: block !important;
    left: 220px;
}

.carousel-title {
    font-size: 18px;
}
}




